{% load query_transform %}
<footer class="footer">
  <div class="container-fluid">
    {% if is_paginated %}
      <div class="mama" style="flex: 1; display: flex; flex-direction: column;">
      <div class="pagination">
        {% if page_obj.has_previous %}
          <div class="page-item">
            <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">prev</a>
          </div>
        {% endif %}
        <div class="page-item active">
          <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
        </div>
        {% if page_obj.has_next %}
          <div class="page-item">
            <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">next</a>
          </div>
        {% endif %}
      </div>
    {% endif %}
    </div>
  </div>
</footer>
