{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h2 class="card-title">{{ task.name }}
          <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-sm btn-danger link-to-page float-right">
            Delete
          </a>

          <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-sm btn-secondary link-to-page float-right">
            Update task
          </a>

          {% if task.is_completed is False %}
            <a href="{% url 'task_manager:toggle-is-completed' pk=task.id %}" class="btn btn-sm btn-success link-to-page float-right">
              Mark as completed
            </a>
          {% else %}
            <a href="{% url 'task_manager:toggle-is-completed' pk=task.id %}" class="btn btn-sm btn-danger link-to-page float-right">
              Mark as uncompleted
            </a></h2>
          {% endif %}
        </div>
        <div class="card-body">
          <p><strong>Description:</strong> {{ task.description }}</p>
          <p><strong>Deadline:</strong> {{ task.deadline }}</p>
          <p><strong>Is completed:</strong> {% if task.is_completed %}Yes{% else %}No{% endif %}</p>
          <p><strong>Priority:</strong> {{ task.priority }}</p>
          <p><strong>Type:</strong> {{ task.task_type.name }}</p>
          <p class="text-muted"><strong>Id:</strong> {{ task.id }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Workers
          {% if task in user.tasks.all %}
            <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}" class="btn btn-sm btn-danger link-to-page float-right">
              Delete me from this task
            </a>
          {% else %}
            <a href="{% url 'task_manager:toggle-task-assign' pk=task.id %}" class="btn btn-sm btn-success link-to-page float-right">
              Assign me to this task
            </a></h2>
          {% endif %}
        </div>
        <div class="card-body">
            {% for worker in task.assignees.all %}
              <p><strong>
                <a href="{% url 'task_manager:worker-detail' pk=worker.id %}">
                  {{ worker.first_name }} {{ worker.last_name }}</a></strong>
                ({{ worker.position }})
              </p>
            {% empty %}
              <p>No workers for this task!</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
