{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title">
            {{ object|yesno:"Update,Create" }} worker
          </h4>
        </div>
        <div class="card-body">
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
