{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h2 class="card-title">{{ worker.first_name }} {{ worker.last_name }}
          {% if worker.id == user.id %}
            <a href="{% url 'task_manager:worker-update' pk=user.id %}" class="btn btn-sm btn-success link-to-page float-right">
              Update
            </a>
          {% endif %}</h2>
        </div>
        <div class="card-body">
          <p><strong>Username:</strong> {{ worker.username }}</p>
          <p><strong>E-mail:</strong> {{ worker.email }}</p>
          <p><strong>Position:</strong> {{ worker.position }}</p>
        </div>
      </div>
    </div>
  </div>
{#          <div class="ml-3">#}
  <h4>Tasks:</h4>
  <hr>
  <div class="row">

  {% for task in worker.tasks.all %}
    <div class="col-lg-6">
      <div class="card ">
        <div class="card-header">
          <h3 class="card-title"><a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a></h3>
        </div>
        <div class="card-body">
          <p><strong>Description:</strong> {{ task.description }}</p>
          <p><strong>Deadline:</strong> {{ task.deadline }}</p>
          <p><strong>Is completed:</strong> {% if task.is_completed %}Yes{% else %}No{% endif %}</p>
          <p><strong>Priority:</strong> {{ task.priority }}</p>
          <p><strong>Type:</strong> {{ task.task_type.name }}</p>
          <p class="text-muted"><strong>Id:</strong> {{task.id}}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No tasks!</p>
  {% endfor %}
  </div>
{% endblock %}
